body {
  --bg-color: black;
  --fg-color: white;
  --available-height: calc(100vh - 16px);
  background-color: var(--bg-color);
  margin: 8px 0px;
  /*font-size:calc([minimumsize]+([maximumsize]-[minimumsize])*((100vw-[minimumviewportwidth])/([maximumviewportwidth]-[minimumviewportwidth])))*/

  font-size: calc(16px + (64 - 16) * ((100vmin - 800px) / (1980 - 800)));
}

.container {
  margin: 0 auto;
}

.header {
  text-align: center;
  font-family: Verdana;
  color: #0000ff;
}

.game-container {
  display: flex;
  height: var(--available-height);
  justify-content: center;
}

.grid {
  background-color: var(--bg-color);
  box-shadow: 0 0 10px 2px #eeeeee;
  border: 1px solid #cccccc;
}

.next-canvas {
}

.controls-container {
  height: 100%;
  font-family: monospace;
}

.score-container {
  background-color: var(--bg-color);
  box-shadow: 0 0 10px 2px #eeeeee;
  text-align: center;
  color: #ff0000;
  font-size: 2em;
  border: 1px solid #cccccc;
  font-weight: bold;
  padding: 5px;
}

.score-container::before {
  content: "Score";
  width: 100%;
  float: right;
  color: #bbbbbb;
  font-size: 2rem;
  font-weight: normal;
}

.next-container {
  background-color: var(--bg-color);
  box-shadow: 0 0 10px 2px #eeeeee;
  text-align: center;
  color: #ff0000;
  font-size: 1em;
  border: 1px solid #cccccc;
  font-weight: bold;
  padding: 5px;
  margin-top: 10px;
}

.next-container::before {
  content: "Next Piece";
  width: 100%;
  float: right;
  color: #bbbbbb;
  font-size: 1em;
  font-weight: normal;
}

button#drop {
  display: block;
  float: left;
  height: var(--available-height);
}

button#next {
  display: block;
  float: right;
  height: var(--available-height);
}

div.intro {
  display: none;
  color: var(--fg-color);
}

body.intro div.intro {
  display: block;
}

body.intro div.container {
  display: none;
}
